<nav>
<ul>
  <li class="dropdown"><a class="{{styleClassH}}" href="#" ng-click="showHome()">Home</a></li>
  <li class="dropdown"><a href="#" class="dropbtn">Material Management &raquo;</a>
	  <div class="dropdown-content">
			<a href="#" ng-click="showEnquiry()">Enquiry</a>
			<a href="#" ng-click="showQuotation()">Quotation</a>
			<a href="#" ng-click="showPurchaseOrder()">Purchase Order</a>
			<a href="#" ng-click="showIDC()">Inward Delivery Challan</a>
			<a href="#" ng-click="showItemMaster()">Item Master</a>
			<a href="#" ng-click="showVendors()">Vendors</a>
	 </div>
  </li>
 <li><a class="{{styleClassS}}" href="#" ng-click="showSales()">Sales</a></li>
  <li style="float:right;list-style-type:none;"><a href="#">Login</a></li>
  <li style="float:right;list-style-type:none;"><a href="#">About</a></li>
</ul>
</nav>